input{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    font-size: 16px; 
    margin: 10px;
}
label{
    font-size:larger
}

select{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    font-size: 16px; 
    margin: 10px;
}
.card{
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0px 0px 0px 100px;
    margin-left: 30%;
    display: flex;
}
h1{
    margin-left: 30%;
    margin-top: 10%;
}
.form-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.specialInput{
    border: 0;
    font-weight: bolder;
}


@media(max-width: 768px){
    .card{
        width: 300px;
    }

    input{
        width: 100%;
    }

    select{
        width: 100%;
    }

    .form-element{
        flex-direction: column;
    }
}