<div class="container-fluid">
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(3, 3, 26);">
      <a class="navbar-brand text-white ms-2">
        <i class="fas fa-home fa-sm" routerLink="/athletes"></i> AMS
      </a>
      
  
      <!-- Spacer and Login/Logout buttons -->
      <div class="ms-auto d-flex">
        <div *ngIf="userlogin" class="d-flex ">
          <a class="btn text-white me-2" routerLink="/input">Performance details</a>
          <a class="btn text-white me-2" routerLink="/athletes">Athlete</a>
          <a class="btn text-white me-2" routerLink="/team">Team</a>
          <a class="btn text-white me-2" routerLink="/movement">Movement</a>
        </div>
        <button class="btn btn-light me-2" (click)="onClick()" routerLink="/login">{{userlogin ? 'Logout' : 'Login'}}</button>
      </div>
    </nav>
  </div>
  
